html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline; 

    border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0; 
    border-collapse: collapse;
}

*,
*::after,
*::before
{
    box-sizing: border-box;
}

html
{
    font-size: 10px; 

    min-height: 100%;
}

body
{
    font: normal 1.6rem 'Open Sans', 'Arial', sans-serif;

    position: relative;

    overflow-x: hidden;

    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

    color: #333;
    background: #eceeef;

    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

dd,
dl,
dt
{
    margin: 0;
    padding: 0;
}

a
{
    transition: all .5s ease; 
    text-decoration: none;

    color: #333;
}
a:hover,
a:active,
a:focus
{
    color: #333;
    outline: none;
}

.page-wrapper
{
    position: relative;

    overflow: hidden; 

    height: auto !important;
    min-height: 100%;
}

.container
{
    width: 100%;
    max-width: 1120px;
    height: 100%; 
    margin: 0 auto;
    padding: 0 30px;
}

.main
{
    min-height: 100%;
}

.top-action-wrap
{
    height: 45.5rem;
    padding: 0 4rem 0 4rem; 

    background: #c0c0c0 url('../img/top-block-bg.jpg') no-repeat center center;
    background-size: cover;
}

.top-action-block
{
    width: 60%;
    height: 100%; 
    padding: 8.4rem 0 8.3rem;
}

.top-block__content-list
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: 100%;

    color: #fff; 

    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.see-more
{
    display: -ms-flexbox;
    display: flex;

    height: 100%;
    height: 6.1rem; 

    -ms-flex-align: center;
    align-items: center;
}

.see-more__btn
{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8rem;

    box-sizing: border-box;
    padding: 2.2rem 6rem;

    text-transform: uppercase;

    color: #fff;
    background: #49bc1f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .063), inset 0 -1px 0 0 rgba(0, 0, 0, .039);
}
.see-more__btn:hover
{
    background: #389018;
}

.top-block-job
{
    color: #9badb1;
}

.content-list__item:first-child
{
    font-size: 2.4rem;
    font-style: italic;
}

.content-list__item:nth-child(2)
{
    font-size: 1.8rem;
    font-style: italic;
}

.main-table__title
{
    font-size: 3.2rem;
    font-weight: 800; 

    padding: 5.8rem 4rem;

    text-align: center;

    color: #2a4656;
}

.main-table__line
{
    z-index: 95; 

    height: 1px;

    background-color: #ebebeb;
    box-shadow: 0 1px 0 1px rgba(255, 255, 255, .392);
}

.main-table__tabs
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    max-width: 838px;
    margin: 3rem auto;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.main-table__tabs .tabs-item.ui-state-active
{
    background: #3ab03a;
}
.main-table__tabs .tabs-item.ui-state-active a
{
    color: #fff;
}
.main-table__tabs .tabs-item
{
    font-size: 1.4rem;

    border: 1px solid #d5d7d8; 
    background: #fff;
}
.main-table__tabs .tabs-item:focus
{
    outline: none;
}
.main-table__tabs .tabs-item a
{
    display: block;

    padding: 1.3rem 2rem 1.1rem; 

    color: #5e6469;
}
.main-table__tabs .tabs-item:hover
{
    cursor: pointer;

    border-radius: 1px; 
    background: #49bc1f;
}

.main-table__content-list
{
    margin: 2rem;
    padding: 0;

    list-style: none;
}
.main-table__content-list li
{
    display: none;
    overflow: scroll;
    overflow-y: hidden;
}
.main-table__content-list li .table
{
    width: 100%;
}

.table tr
{
    vertical-align: middle; 

    border-bottom: 1px solid #fff;
    box-shadow: inset 0 -1px 0 0 #d8dadb;
}
.table tr:nth-child(odd)
{
    background: #e8ebed;
}

.table td
{
    height: 88px;
    padding: 0 2rem; 

    vertical-align: middle;
}

.table th
{
    font-size: 1.3rem;
    line-height: 1.3rem; 

    height: 3rem;
    padding: 2rem;

    text-transform: uppercase;

    color: #85959e;
    background: #dde1e3;
}
.table th:not(:last-child)
{
    border-right: 1px solid #eceeef;
}
.table th td
{
    color: #666665;
}

.table__salary-title-th,
.table__total-title-th
{
    text-align: right;
}

.table__recruiter-title-td-inner
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
}

.recruiter-title-td__inf
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-left: 7px; 

    -ms-flex-direction: column;
}
.recruiter-title-td__inf .inf__name
{
    font-size: 1.4rem;
    font-weight: bold; 

    color: #09579c;
}
.recruiter-title-td__inf .inf__place
{
    font-size: 1.2rem;

    color: #8e9ba3;
}

.table__total-title-td
{
    font-size: 3.4rem;
    font-weight: bold; 

    text-align: right;

    color: #016da7;
}

.table__completed-title-td
{
    text-align: center;
}

.comleted-img
{
    line-height: 2.6rem;

    display: inline-block;

    width: 2.6rem;
    height: 2.6rem;

    text-align: center; 

    border-radius: 100%;
    background: #3faa18;
}
.comleted-img .fa
{
    color: #fff;
}

.table__salary-title-td
{
    font-size: 1.8rem;
    font-weight: bold;

    color: #2a4656;
}

.table__job-title-td,
.table__location-title-td
{
    color: #666;
}

.active-tab-content .table-td-line:nth-child(n+7)
{
    display: none;
}

.long-table-dots
{
    display: none;

    margin-top: 3rem; 
    margin-bottom: 7rem;

    text-align: center;
}
.long-table-dots .dot
{
    margin: 1rem;
}
.long-table-dots .dot-first,
.long-table-dots .dot-second
{
    display: inline-block;

    width: 1.5rem;
    height: 1.5rem;

    border-radius: 100%; 
    background: #d5d6d7;
}
.long-table-dots .dot-first.active-dot,
.long-table-dots .dot-second.active-dot
{
    background: #006ca9;
}
.long-table-dots .dot-first:hover,
.long-table-dots .dot-second:hover
{
    cursor: pointer;
}
@media (max-width: 768px)
{
    html
    {
        font-size: 7px;
    }
    .main-table__tabs
    {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .table__total-title-td
    {
        font-size: 2rem;
    }
}
@media (max-width: 320px)
{
    html
    {
        font-size: 6px;
    }
}
@media (max-width: 1200px)
{
    .container
    {
        padding: 0;
    }
}
@media (max-width: 560px)
{
    .top-action-wrap
    {
        background-position: -200px center;
    }
    .top-action-block
    {
        width: 100%;
    }
}
@media (max-width: 650px)
{
    .see-more
    {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .long-table-dots .dot
    {
        margin: 2rem;
    }
}
@media (max-width: 640px)
{
    .main-table__tabs .tabs-item
    {
        width: 100%;
    }
    .main-table__tabs
    {
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
