<section class="top-action-wrap">
    <div class="container">
<!--top-action-block STARTS-->
        <div class="top-action-block">
                <ul class="top-block__content-list">
                    <li class="content-list__item">“We have saved more than $50,000 in agency fees
                        in the seven months
                        we have worked with RecruitLoop.”</li>
                    <li class="content-list__item">John Gareau,<span class="top-block-job"> VP, Digital at Eargo</span></li>
                    <li class="content-list__item see-more">
                        <a class="see-more__btn" href="#">See more client stories</a>
                    </li>
                </ul>

        </div>
        <!--top-action-block ENDS-->
    </div>

</section>